<header class="site-header fixed-width-container" role="banner">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="logo" rel="author" href="{{ "/" }}">
        <img src="{{ '/assets/logos/logo-white-bg.jpg' | relative_url }}" alt="">
    </a>

    <nav class="site-nav">
        <div>
            <a href="{{ "/" | relative_url }}">Home</a>
            <a href="about.html">About</a>
            <a href="directory.html">Directory</a>
        </div>
        <div class="social">
            <a href="https://instagram.com/sendmagazine">Instagram</a>
            <a href="https://facebook.com/sendmagazine">Facebook</a>
        </div>
    </nav>
</header>
