
// Import from TypeKit
@import url("https://use.typekit.net/agm1ijz.css");
@import url("https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css");
@import url("https://use.fontawesome.com/releases/v5.2.0/css/brands.css");
@import url("https://use.fontawesome.com/releases/v5.2.0/css/solid.css");

$base-font-family: 'halyard-text', -apple-system, BlinkMacSystemFont, sans-serif;
$copy-font-family: 'acumin-pro', -apple-system, BlinkMacSystemFont,  sans-serif;
$article-font-family: 'acumin-pro', -apple-system, BlinkMacSystemFont,  sans-serif;
$base-color: #1a1a1a;
$font-color: #111;
$hover-color: #aaa;
$border-color: #ddd;

// Breakpoints 
$xsmall-device: 320px;
$small-device: 500px;
$medium-device: 700px;
$large-device: 1000px;
$xlarge-device: 1400px;


@import 
	'send/base',
 	'send/section-header',
 	'send/section-footer',
 	'send/page-home',
 	'send/page-post',
 	'send/page-about',
 	'send/page-archive',
    'send/page-directory';


@media screen and (min-width: $xsmall-device) {
  	html {
    	font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  	}
}

@media screen and (min-width: $large-device) {
  	html {
    	font-size: 16px;
  	}
}

