
// Import from TypeKit
@import url("https://use.typekit.net/agm1ijz.css");

$base-font-family: 'halyard-text', sans-serif;
$copy-font-family: 'acumin-pro', sans-serif;
$article-font-family: 'acumin-pro', sans-serif;
$base-color: #1a1a1a;
$font-color: #111;
$border-color: #aaa;


@import 
	'send/base',
 	'send/section-header',
 	'send/section-footer',
 	'send/page-home',
 	'send/page-post',
  'send/page-directory';

@media screen and (min-width: 320px) {
  	html {
    	font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  	}

	// body {
 //  		padding: 1rem;
 //  	}
}

@media screen and (min-width: 1000px) {
  	html {
    	font-size: 16px;
  	}

  	// body {
  	// 	padding: 3rem;
  	// }
}

