html {
	box-sizing: border-box;
	font-family: $copy-font-family;
	font-size: 16px;	
}

body {
	margin: 0;
}

.fixed-width-container {
	max-width: 1200px;
	margin: 0 auto;
}

.flex-wrapper {
	display: flex;
}

img {
	background-color: $border-color;
	// min-height: 100px;
	width: 100%;
}


// Typography

h1, h2, h3, h4, h5 {
	font-family: $base-font-family;
}

h5 {
	font-size: 1.5em;
}

h4 {
	font-size: 2.25em;
}

h3 {
	font-size: 3.375em;
}

h2 {
	font-size: 5em;
}

h1 {
	font-size: 6em;
}

p {
	font-family: $copy-font-family;
	line-height: 1.5em;
}

a {
	text-decoration: none;
	color: $font-color;
	transition: all 0.4s;

	&:hover {
		color: $border-color !important;
	}
}

.section-heading {
	@extend h4;
	font-family: 'acumin-pro-condensed', sans-serif;
	text-transform: uppercase;
}

.sharer {
	display: flex;
	align-items: center;
	padding: 1em 0;

	a {
		display: inline-block;
		font-size: 2rem;
		margin: 0 10px;
	}
}