html {
	box-sizing: border-box;
	font-family: $copy-font-family;
	font-size: 16px;	
}

body {
	margin: 0;
}

.fixed-width-container {
	max-width: 1200px;
	margin: 0 auto;
}

.flex-wrapper {
	display: flex;
}

img {
	background-color: $border-color;
	// min-height: 100px;
	width: 100%;
}


// Typography

h1, h2, h3, h4, h5 {
	font-family: $base-font-family;
}

h5 {
	font-size: 1.5em;
}

h4 {
	font-size: 2.25em;
}

h3 {
	font-size: 3.375em;
}

h2 {
	font-size: 5em;
}

h1 {
	font-size: 6em;
}

p {
	font-family: $copy-font-family;
	line-height: 1.5em;

	a {
		border-bottom: 1px dotted $border-color;
	}
}

a {
	text-decoration: none;
	color: $font-color;
	transition: all 0.4s;

	&:hover {
		color: $hover-color !important;
	}

	&.highlighted {
		color: $hover-color;
	}
}

.section-heading {
	@extend h4;
	font-family: 'acumin-pro-condensed', sans-serif;
	text-transform: uppercase;
}

// Forms 

label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5em;
}

fieldset {
	border: none;
	padding: 0;
	margin-bottom: 2rem;
}

input, textarea {
	font-size: 1.5rem;
	padding: 10px;
	border: 1px solid $border-color;
	resize: none;
	width: 90%;
}

button, .button {
	background: $base-color;
	color: #fff;
	border: none;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem 3rem 1.2rem 3rem;

	&:hover {
		background-color: $hover-color;
		color: #fff !important;
	}
}



// Extras
.sharer {
	display: flex;
	align-items: center;
	padding: 1em 0;

	a {
		display: inline-block;
		font-size: 2rem;
		margin: 0 10px;
	}
}

.more-loader {
	text-align: center;
	padding: 5em 0;

	@media screen and (max-width: $small-device) {
		padding: 0;
		a {
			display: block;
			margin: 1em;
		}
	}
}