// Homepage Styles

.home {
	display: grid;
	// grid-gap: 3%;
	grid-template-columns: repeat(12, 1fr);
	
	#featured {
		grid-column: 1/13;
		margin-bottom: 3rem;

		.inner-wrap {
			flex-direction: column;
		}

		.post-title {
			margin-bottom: -20px;
			margin-top: 0;
		}

		.image {
			line-height: 0;	
			background-size: cover;	
			background-color: $hover-color;
			width: 100%;

			a {
				display: block;
				width: 100%;
				height: 500px
			}
		}

		.content {
			padding: 2rem;
			margin: -150px auto -100px auto;
			background: #fff;
			max-width: 1000px;
			text-align: center;
		}
	}

	.post-list {
		grid-column: 2/12;
		list-style: none;
		padding-top: 3rem;

		h3 {
			margin: 0;
		}

		li {
			display: flex;
			align-items: center;
		}

		.article {
			margin: 1em;
			&:first-of-type {
				margin-left: 0;
			}

			.img-wrapper a {
				display: block;
				max-width: 500px;

				&:hover {
					opacity: 0.8;
				}
			}

			.flex-wrapper {
				flex-direction: column;
			}

			.content {
				padding-top: 1rem;
			}
		}

	}

	.date-author {
		opacity: 0.5;
	}

	.featured-photo {
		text-align: center;
		grid-column: 1/13;
		padding: 2rem 0 3rem 0;
		margin: 3rem 0;
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		background-color: #111;
		color: #fff;
		
		h3 {
			margin: 0;

			a {
				color: #fff;
			}
		}

		p {
			max-width: 700px;
			text-align: center;
			margin: 2rem auto;
		}

		.img-row {
			margin: 2rem 0;
			overflow: hidden;
			
			a {
				display: inline-block;
				width: 50%;
				float: left;

				&:hover {
					opacity: 0.8;
				}
			}
		}
	}

	.third-row-posts {
		.flex-wrapper {
			flex-wrap: wrap;
		}

		.article {
			margin-left: 0;
			
			&:nth-child(1), &:nth-child(2) {
				flex-basis: 47%;
			}
		}
	}

	// Smartphone sizing
	@media screen and (max-width: $small-device) {
		#featured {
			.content {
				padding: 1rem;

				.subtitle {
					margin-bottom: 10px;
				}

				p {
					text-align: left;
				}
			}

			.image a {
				height: 300px;
			}

			h4 {
				margin-bottom: 1.5rem;
			}
		}

		.flex-wrapper {
			flex-direction: column;
		}

		.post-list, .featured-photo {
			grid-column: 1/13;
			padding: 1em;
		}

		.featured-photo, #featured {
			margin: 0;
		}

		.featured-photo {
			padding-bottom: 3rem; 

			h3 {
				font-size: 2rem;
			}

			.img-row {
				margin-left: -1rem;
				margin-right: -1rem;
			}
		}

		.article {
			margin: 0 !important;
			padding-bottom: 1.3rem;	
		}

		.section-heading {
			font-size: 16px !important;
		}
	}

	// Tablet Sizing
	@media screen and (min-width: $small-device + 1) and (max-width: $large-device - 1) {
		#featured {
			.image a {
				height: 300px;
			}

			h4 {
				margin-bottom: 1em;
			}
		}

		.post-list, .featured-photo {
			grid-column: 1/13;
			padding: 2em;
		}
	}
}