// Article Page Styles

.post {

	.post-header {
		text-align: center;
		padding: 3rem 0;
	}

	.post-title {
		line-height: 1em;
		font-size: 5em;
		margin: 0;
	}

	// For Captions
	img + em, .image-row + em {
		font-size: 0.8em;
		opacity: 0.5;
	}

	.post-content, #related-post {
		max-width: 700px;
		margin: 0 auto;

		.pre-text {
			font-size: 2rem;
			margin-bottom: 5rem;
			font-weight: 400;
			text-align: center;
		}

		p, h5 {
			margin: 1.5rem auto;
			max-width: 700px;
			font-family: $article-font-family;
		}

		h5 {
			margin-top: 2.5rem;
		}

		.image-row {
			display: flex;
			justify-content: center;

			p {
				margin: 1rem;
			}
		}
	}

	#related-post {
		padding: 3em 0;
		margin-top: 5em;
		border-top: 1px dotted $border-color;

		@keyframes move-arrow {
			from {
				left: 0;
			}

			to {
				left: 5px;
			}
		}

		.fas {
			display: block;
			position: relative;
		}

		h2 {
			margin: 0;
		}

		a {
			display: flex;
			align-items: center;

			&:hover {
				color: $base-color !important;

				h5 {
					opacity: 0.5;
				}

				.fas {
					animation-name: move-arrow;
					animation-duration: 0.5s;
					animation-iteration-count: 1;
					opacity: 0.5;
				}
			}
		}
	}

	@media screen and (max-width: $small-device) {
		.post-content { 
			width: auto;
			padding: 1rem;

			h2 {
				font-size: 1.5em;
				margin: 1rem 0;
			}
		}

		.post-header {
			padding-bottom: 0;
		}

		.post-title {
			font-size: 4em;
		}
	}
}