// Article Page Styles

.post {

	.post-header {
		text-align: center;
		padding: 3rem 0;
	}

	.post-title {
		line-height: 1em;
		font-size: 5em;
		margin: 0;
	}

	.post-content {
		width: 1000px;
		margin: 0 auto;

		h2 {
			font-size: 2rem;
			margin-bottom: 5rem;
			font-weight: 400;
			text-align: center;
		}

		p, h5 {
			margin: 1.5rem auto;
			max-width: 700px;
			font-family: $article-font-family;
		}

		h5 {
			margin-top: 2.5rem;
		}

		.img-wrapper {
			display: flex;
			justify-content: center;

			img {
				margin: 1rem;
			}
		}
	}
}