// Homepage Styles

.home {
	display: grid;
	grid-gap: 3%;
	grid-template-columns: repeat(12, 1fr);
	
	#featured {
		background-color: $base-color;
		grid-column: 1/13;
		margin-bottom: 3rem;
		color: #fff;
		font-size: 16px;

		h3, h4 {
			margin: 0;
		}

		a {
			color: #fff;
		}

		h4 {
			font-family: $copy-font-family;
			font-weight: 400;
			font-size: 1.5rem;
			margin-top: -10px;
			margin-bottom: 4rem;
		}

		& > div {
			display: flex;
			align-items: center;
		}

		.image {
			flex-basis: 50%;
			line-height: 0;	
			background-size: cover;	
			width: 100%;

			a {
				display: block;
				width: 100%;
				height: 500px
			}
		}

		.content {
			padding: 2rem;
			flex-basis: 50%;
			background-color: $base-color;
		}
	}

	h2 {
		font-size: 1.5rem;
		text-transform: uppercase;
	}

	.post-list {
		grid-column: 2/12;
		list-style: none;
		font-size: 16px;

		h3 {
			font-size: 2rem;
			margin: 0;
		}

		li {
			display: flex;
			align-items: center;
		}

		.article {
			margin: 1em;
			&:first-of-type {
				margin-left: 0;
			}
		}
	}

	.date-author {
		opacity: 0.5;
	}

	.featured-photo {
		text-align: center;
		grid-column: 2/12;
		padding: 5rem 0;
		margin: 5rem 0;
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		
		h3 {
			margin: 0;
		}

		p {
			max-width: 700px;
			text-align: center;
			margin: 2rem auto;
		}

		.img-row {
			margin: 2rem 0;
			
			img {
				display: inline-block;
				width: 50%;
				float: left;
			}
		}
	}

	// Smartphone sizing
	@media screen and (max-width: $small-device) {
		#featured {
			.content {
				padding: 1rem;
			}

			.image a {
				height: 300px;
			}

			h4 {
				margin-bottom: 1.5rem;
			}
		}

		.flex-wrapper {
			flex-direction: column;
		}

		.post-list, .featured-photo {
			grid-column: 1/13;
			padding: 1em;
		}

		.featured-photo, #featured {
			margin: 0;
		}

		.featured-photo {
			padding-bottom: 3rem; 

			h3 {
				font-size: 2rem;
			}

			.img-row {
				margin-left: -1rem;
				margin-right: -1rem;
			}
		}

		.article {
			margin: 0 !important;
			padding-bottom: 3rem;	
		}
	}

	// Tablet Sizing
	@media screen and (min-width: $small-device + 1) and (max-width: $large-device - 1) {
		#featured {
			.flex-wrapper {
				flex-direction: column;
			}

			.image a {
				height: 300px;
			}

			h4 {
				margin-bottom: 1em;
			}
		}

		.post-list, .featured-photo {
			grid-column: 1/13;
			padding: 2em;
		}
	}
}