// Homepage Styles

.home {
	display: grid;
	grid-gap: 3%;
	grid-template-columns: repeat(12, 1fr);
	
	#featured {
		background-color: $base-color;
		grid-column: 1/13;
		margin-bottom: 3rem;
		color: #fff;
		font-size: 16px;

		h3, h4 {
			margin: 0;
		}

		a {
			color: #fff;
		}

		h4 {
			font-family: $copy-font-family;
			font-weight: 400;
			font-size: 30px;
			margin-top: -10px;
		}

		& > div {
			display: flex;
			align-items: center;
		}

		.image {
			flex-basis: 50%;
			line-height: 0;		
		}

		.content {
			padding: 2rem;
			flex-basis: 50%;
		}
	}

	h2 {
		font-size: 1.5rem;
		text-transform: uppercase;
	}

	.post-list {
		grid-column: 2/12;
		list-style: none;
		font-size: 16px;

		h3 {
			font-size: 2rem;
			margin: 0;
		}

		li {
			display: flex;
			align-items: center;
		}

		.article {
			margin: 1em;
			&:first-of-type {
				margin-left: 0;
			}
		}
	}

	.featured-photo {
		text-align: center;
		grid-column: 2/12;
		padding: 5rem 0;
		margin: 5rem 0;
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		
		h3 {
			margin: 0;
		}

		.img-row {
			margin: 2rem 0;
			
			img {
				display: inline-block;
				width: 50%;
				float: left;
			}
		}


	}

	@media screen and (max-width: 500px) {
		.flex-wrapper,  {
			flex-direction: column;
		}

		.post-list, .featured-photo {
			grid-column: 1/13;
			padding: 2em;
		}

		.featured-photo, #featured {
			margin: 0;
		}

		.featued-photo {
			h3 {
				font-size: 2rem;
			}
		}

		.article {
			margin: 0 !important;
			padding-bottom: 3rem;	
		}
	}
}