// Article Page Styles

.post {

	.hero-image {
		min-height: 200px;
	}

	.post-header {
		text-align: center;
		padding: 3rem 0;

		&.with-background {
			min-height: 300px;
			background-size: cover;
			background-position: center;
			color: #fff;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	.post-title {
		line-height: 1em;
		// font-size: 5em;
		margin: 0;
	}

	// For Captions
	img + em, .image-row + p > em {
		font-size: 0.8em;
		display: block;
		margin-bottom: 2em;
		opacity: 0.5;
	}

	.image-row + p > em {
		margin: -3em 0 2em 0;
	}

	.post-content, #related-post {
		max-width: 700px;
		margin: 0 auto;

		.pre-text {
			font-size: 1.5rem;
			margin-bottom: 2rem;
			font-weight: 400;
			text-align: center;
		}

		p, h5 {
			margin: 1.5rem auto;
			max-width: 700px;
			font-family: $article-font-family;
		}

		h5 {
			margin-top: 2.5rem;
		}

		.image-row {
			display: flex;
			justify-content: center;

			p:first-of-type {
				margin-right: 1rem;
			}

			&.medium {
				@media screen and (min-width: $large-device) {
					position: relative;
					left: -150px;
					width: 1000px;
				}
			}
		}
	}

	#related-post {
		padding: 3em 0;
		margin-top: 5em;
		border-top: 1px dotted $border-color;

		@keyframes move-arrow {
			from {
				left: 0;
			}

			to {
				left: 5px;
			}
		}

		.fas {
			display: block;
			position: relative;
		}

		h3 {
			margin: 0 0 -10px 0;
		}

		a {
			display: flex;
			align-items: center;

			&:hover {
				color: $base-color !important;

				h3 {
					opacity: 0.5;
				}

				.fas {
					animation-name: move-arrow;
					animation-duration: 0.5s;
					animation-iteration-count: 1;
					opacity: 0.5;
				}
			}
		}
	}

	@media screen and (max-width: $small-device) {
		.post-header {
			padding-bottom: 0;
		}

		.post-content { 
			width: auto;
			padding: 1rem;

			h2 {
				font-size: 1.2em;
				margin: 1rem 0;
			}

			.pre-text {
				font-size: 1.2rem;
				margin: 0;
			}

			.image-row {
				p {
					margin: 0 !important;
				}
			}
		}
	}
}