// Site Header Styles

.site-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4rem;
	align-items: center;

	.logo {
		img { 
			width: 100px;
		}
	}

	.site-nav {
		display: flex;
		justify-content: space-between;

		a {
			padding: 1rem;
		}
	}

	.site-title {
		flex-basis: auto;
	}
}