// Site Header Styles

.site-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4rem;

	.site-nav {
		display: flex;
		justify-content: space-between;

		a {
			padding: 1rem;
		}
	}

	.site-title {
		flex-basis: auto;
	}
}