// Site Header Styles

.site-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $base-color;

	.logo {
		img { 
			width: 100px;
		}
	}

	.site-nav {
		display: flex;
		justify-content: space-between;

		a {
			padding: 1rem;
			color: #fff;
		}
	}

	.site-title {
		flex-basis: auto;
	}
}